# ========================================= #
# Standard                                  #
# ========================================= #

**/bin/*
**/obj/*
**/build
**/.vs

**/node_modules
package-lock.json

.DS_Store

appsettings.Development.json
appsettings.DevelopmentDocker.json

# ========================= #
# Automated tests (Postman) #
# ========================= #
*.postman_environment.json