# ========================================= #
# Standard                                  #
# ========================================= #

**/bin/*
**/obj/*
**/build
**/.vs

# Ignore Tailwind generated classes
**/node_modules
# tailwind_output.css
#package.json
package-lock.json

.DS_Store

appsettings.*.json*

# ========================= #
# Automated tests (Postman) #
# ========================= #
*.postman_environment.json