@page
@using DFWeb.BE.Models
@model MainPage
@{
    ViewData["Title"] = Model.pageModel.ContentTitle;
}

@section Navigation {
    <ul class="navbar-nav ms-auto">
        @await Html.PartialAsync("TopMenu", Model)
    </ul>
}

<!-- Breadcrumb Navigation -->
<div class="row mb-4">
    <div class="col-12">
        @await Html.PartialAsync("TopNavigation", Model)
    </div>
</div>

<!-- Main Content Area -->
<div class="row g-4">
    <!-- Article Block -->
    <div class="col-lg-8">
        <!-- Featured Article -->
        @if (Model.mainPageItems.Any())
        {
            <div class="row mb-4">
                @foreach (var relPage in Model.mainPageItems.Take(1))
                {
                    <div class="col-12">
                        @await Html.PartialAsync("TeaserArticleMedium", relPage)
                    </div>
                }
            </div>

            <!-- Remaining Articles Grid -->
            <div class="row g-4">
                @foreach (var relPage in Model.mainPageItems.Skip(1))
                {
                    <div class="col-sm-6">
                        @await Html.PartialAsync("TeaserArticleSmall", relPage)
                    </div>
                }
            </div>
        }
    </div>

    <!-- Sidebar -->
    <div class="col-lg-4 d-none d-lg-block">
        <div class="sticky-top" style="top: 20px;">
            @await Html.PartialAsync("RelatedArticleSmall", Model.relatedPages)
        </div>
    </div>
</div>


