@page
@using DFWeb.BE.Models
@model MainPage
@{
    ViewData["Title"] = Model.pageModel.ContentTitle;
}

<!-- https://getbootstrap.com/docs/4.0/layout/grid/ -->

<div>
    <div class="row" id="menu">
        <div class="col-12">
            @await Html.PartialAsync("Views/TopElements/TopMenu.cshtml", Model)
        </div>
    </div>

    <div class="row" id="mainblock">
        <div class="col-lg-8" id="articleblock">
            <div class="row">
                @foreach (var relPage in Model.mainPageItems.Take(1))
                {
                    <div class="col-12 mb-4">
                        @await Html.PartialAsync("Views/Components/TeaserArticleMedium.cshtml", relPage)
                    </div>
                }
                @* Show remaining articles:
                    - Small screen: 2 articles on page (sm-6)
                    - Large screen: 3 articles on page (lg-4) 
                *@
                @foreach (var relPage in Model.mainPageItems.Skip(1))
                {
                    <div class="col-sm-6 mb-4">
                        @await Html.PartialAsync("Views/Components/TeaserArticleSmall.cshtml", relPage)
                    </div>
                }
            </div>
        </div>

        <div class="col-lg-4 d-none d-lg-block" id="relatedblock">
            @* Display related articles on the side ( in full desktop screen view ) *@
            @await Html.PartialAsync("Views/Components/RelatedArticleSmall.cshtml", Model.relatedPages)
        </div>

    </div>

</div>

