<nav aria-label="breadcrumb" class="my-3">
    <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item">
            <a href="/index" class="text-decoration-none">
                <i class="fas fa-home"></i> Home
            </a>
        </li>
        @foreach (var item in Model.treeList)
        {
            <li class="breadcrumb-item">
                <a href="/page?id=@item.ID" class="text-decoration-none">@item.Name</a>
            </li>
        }
    </ol>
</nav>

