@model Int32

<table width=100% cellspacing=2 cellpadding=0>
    <tr>
        <td align=right>
            <div class=toolmenu><form action='/api/editor' method='POST' style='display: inline;'><input type='hidden' name='id' value='@Model'><input type='hidden' name='command' value='create_child_page'><input class=toolbutton type='submit' value='Create Child'></form></div>
            <div class=toolmenu>
                <form action='/Admin/DeletePage' method='GET'  style='display: inline;'>
                    <input type='hidden' name='id' value='@Model'>
                    <input class=toolbutton type='submit' value='Delete Page'>
                </form>
            </div>
        </td>
    </tr>
</table>
